<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/captcha" alt="captcha">
    <form action="/verify" method="post">
        <label for="textcaptcha">Prouvez que vous n'êtes pas un robot :</label>
        <input type="text" id="textcaptcha" name="textcaptcha">
        <input type="submit" value="envoyer">
    </form>
</body>
</html>